.mainContainer {
  --list-size: 1200px;
  height: auto;
}
.mainContainer .slideBtn {
  border-bottom: 1px solid #777;
  width: var(--list-size);
  margin: auto;
}
.mainContainer .viewContents {
  margin: auto;
  width: var(--list-size);
  border: 1px solid #999;
  height: 500px;
  overflow: hidden;
}
.mainContainer .slideBtn button {
  padding: 0.5rem 1rem;
  background-color: rgb(107, 168, 21);
  margin: 0.1rem;
  color: #fff;
}
.mainContainer .viewContents ul {
  width: 500%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.mainContainer .viewContents li {
  flex-shrink: 0;
  width: var(--list-size);
  height: 500px;
  font-size: 4rem;
  text-align: center;
  padding: 50px;
  display: none;
  color: #fff;
}
.mainContainer li.on {
  display: block;
}
.mainContainer .view_01 {
  background-color: red;
}
.mainContainer .view_02 {
  background-color: blue;
}
.mainContainer .view_03 {
  background-color: green;
}
.mainContainer .view_04 {
  background-color: orange;
}
.mainContainer .view_05 {
  background-color: darkolivegreen;
}

@keyframes firstSlide {
  0% {
    margin-left: 100%;
    transition: none;
  }
  100% {
    margin-left: 0;
    transition: margin 500ms ease;
  }
}
@keyframes lastSlide {
  0% {
    margin-left: 0;
    transition: margin 500ms ease;
  }
  100% {
    margin-left: 100%;
    transition: none;
  }
}
